<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlinemall.dao.mapper.OnlinemallUserBankMapper" >
  <resultMap id="BaseResultMap" type="com.onlinemall.dao.model.OnlinemallUserBank" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="banktype" property="banktype" jdbcType="VARCHAR" />
    <result column="banknumber" property="banknumber" jdbcType="VARCHAR" />
    <result column="bankbindstatus" property="bankbindstatus" jdbcType="VARCHAR" />
    <result column="bankPhoneNumber" property="bankphonenumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, bankname, banktype, banknumber, bankbindstatus, bankPhoneNumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.onlinemall.dao.model.OnlinemallUserBankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onlinemall_user_bank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from onlinemall_user_bank
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from onlinemall_user_bank
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserBankExample" >
    delete from onlinemall_user_bank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlinemall.dao.model.OnlinemallUserBank" >
    insert into onlinemall_user_bank (id, userid, bankname, 
      banktype, banknumber, bankbindstatus, 
      bankPhoneNumber)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, 
      #{banktype,jdbcType=VARCHAR}, #{banknumber,jdbcType=VARCHAR}, #{bankbindstatus,jdbcType=VARCHAR}, 
      #{bankphonenumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.onlinemall.dao.model.OnlinemallUserBank" >
    insert into onlinemall_user_bank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="bankname != null" >
        bankname,
      </if>
      <if test="banktype != null" >
        banktype,
      </if>
      <if test="banknumber != null" >
        banknumber,
      </if>
      <if test="bankbindstatus != null" >
        bankbindstatus,
      </if>
      <if test="bankphonenumber != null" >
        bankPhoneNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banktype != null" >
        #{banktype,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null" >
        #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="bankbindstatus != null" >
        #{bankbindstatus,jdbcType=VARCHAR},
      </if>
      <if test="bankphonenumber != null" >
        #{bankphonenumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserBankExample" resultType="java.lang.Integer" >
    select count(*) from onlinemall_user_bank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onlinemall_user_bank
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null" >
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.banktype != null" >
        banktype = #{record.banktype,jdbcType=VARCHAR},
      </if>
      <if test="record.banknumber != null" >
        banknumber = #{record.banknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.bankbindstatus != null" >
        bankbindstatus = #{record.bankbindstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.bankphonenumber != null" >
        bankPhoneNumber = #{record.bankphonenumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onlinemall_user_bank
    set id = #{record.id,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      banktype = #{record.banktype,jdbcType=VARCHAR},
      banknumber = #{record.banknumber,jdbcType=VARCHAR},
      bankbindstatus = #{record.bankbindstatus,jdbcType=VARCHAR},
      bankPhoneNumber = #{record.bankphonenumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinemall.dao.model.OnlinemallUserBank" >
    update onlinemall_user_bank
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="banktype != null" >
        banktype = #{banktype,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null" >
        banknumber = #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="bankbindstatus != null" >
        bankbindstatus = #{bankbindstatus,jdbcType=VARCHAR},
      </if>
      <if test="bankphonenumber != null" >
        bankPhoneNumber = #{bankphonenumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinemall.dao.model.OnlinemallUserBank" >
    update onlinemall_user_bank
    set userid = #{userid,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      banktype = #{banktype,jdbcType=VARCHAR},
      banknumber = #{banknumber,jdbcType=VARCHAR},
      bankbindstatus = #{bankbindstatus,jdbcType=VARCHAR},
      bankPhoneNumber = #{bankphonenumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>