<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlinemall.dao.mapper.OnlinemallUserBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.onlinemall.dao.model.OnlinemallUserBalance" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="balanceinfodetail" property="balanceinfodetail" jdbcType="VARCHAR" />
    <result column="balancenumber" property="balancenumber" jdbcType="VARCHAR" />
    <result column="balancetime" property="balancetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, balanceinfodetail, balancenumber, balancetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.onlinemall.dao.model.OnlinemallUserBalanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onlinemall_user_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from onlinemall_user_balance
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from onlinemall_user_balance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserBalanceExample" >
    delete from onlinemall_user_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlinemall.dao.model.OnlinemallUserBalance" >
    insert into onlinemall_user_balance (id, userid, balanceinfodetail, 
      balancenumber, balancetime)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{balanceinfodetail,jdbcType=VARCHAR}, 
      #{balancenumber,jdbcType=VARCHAR}, #{balancetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.onlinemall.dao.model.OnlinemallUserBalance" >
    insert into onlinemall_user_balance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="balanceinfodetail != null" >
        balanceinfodetail,
      </if>
      <if test="balancenumber != null" >
        balancenumber,
      </if>
      <if test="balancetime != null" >
        balancetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="balanceinfodetail != null" >
        #{balanceinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="balancenumber != null" >
        #{balancenumber,jdbcType=VARCHAR},
      </if>
      <if test="balancetime != null" >
        #{balancetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserBalanceExample" resultType="java.lang.Integer" >
    select count(*) from onlinemall_user_balance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onlinemall_user_balance
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.balanceinfodetail != null" >
        balanceinfodetail = #{record.balanceinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="record.balancenumber != null" >
        balancenumber = #{record.balancenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.balancetime != null" >
        balancetime = #{record.balancetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onlinemall_user_balance
    set id = #{record.id,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      balanceinfodetail = #{record.balanceinfodetail,jdbcType=VARCHAR},
      balancenumber = #{record.balancenumber,jdbcType=VARCHAR},
      balancetime = #{record.balancetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinemall.dao.model.OnlinemallUserBalance" >
    update onlinemall_user_balance
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="balanceinfodetail != null" >
        balanceinfodetail = #{balanceinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="balancenumber != null" >
        balancenumber = #{balancenumber,jdbcType=VARCHAR},
      </if>
      <if test="balancetime != null" >
        balancetime = #{balancetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinemall.dao.model.OnlinemallUserBalance" >
    update onlinemall_user_balance
    set userid = #{userid,jdbcType=VARCHAR},
      balanceinfodetail = #{balanceinfodetail,jdbcType=VARCHAR},
      balancenumber = #{balancenumber,jdbcType=VARCHAR},
      balancetime = #{balancetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>