<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlinemall.dao.mapper.OnlinemallShopMapper" >
  <resultMap id="BaseResultMap" type="com.onlinemall.dao.model.OnlinemallShop" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="shopid" property="shopid" jdbcType="VARCHAR" />
    <result column="shopname" property="shopname" jdbcType="VARCHAR" />
    <result column="shopinfodetail" property="shopinfodetail" jdbcType="VARCHAR" />
    <result column="shopservicedegree" property="shopservicedegree" jdbcType="VARCHAR" />
    <result column="shoplogisticsdegree" property="shoplogisticsdegree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shopid, shopname, shopinfodetail, shopservicedegree, shoplogisticsdegree
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.onlinemall.dao.model.OnlinemallShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onlinemall_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from onlinemall_shop
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from onlinemall_shop
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlinemall.dao.model.OnlinemallShopExample" >
    delete from onlinemall_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlinemall.dao.model.OnlinemallShop" >
    insert into onlinemall_shop (id, shopid, shopname, 
      shopinfodetail, shopservicedegree, shoplogisticsdegree
      )
    values (#{id,jdbcType=VARCHAR}, #{shopid,jdbcType=VARCHAR}, #{shopname,jdbcType=VARCHAR}, 
      #{shopinfodetail,jdbcType=VARCHAR}, #{shopservicedegree,jdbcType=VARCHAR}, #{shoplogisticsdegree,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.onlinemall.dao.model.OnlinemallShop" >
    insert into onlinemall_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopid != null" >
        shopid,
      </if>
      <if test="shopname != null" >
        shopname,
      </if>
      <if test="shopinfodetail != null" >
        shopinfodetail,
      </if>
      <if test="shopservicedegree != null" >
        shopservicedegree,
      </if>
      <if test="shoplogisticsdegree != null" >
        shoplogisticsdegree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopinfodetail != null" >
        #{shopinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="shopservicedegree != null" >
        #{shopservicedegree,jdbcType=VARCHAR},
      </if>
      <if test="shoplogisticsdegree != null" >
        #{shoplogisticsdegree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlinemall.dao.model.OnlinemallShopExample" resultType="java.lang.Integer" >
    select count(*) from onlinemall_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onlinemall_shop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.shopid != null" >
        shopid = #{record.shopid,jdbcType=VARCHAR},
      </if>
      <if test="record.shopname != null" >
        shopname = #{record.shopname,jdbcType=VARCHAR},
      </if>
      <if test="record.shopinfodetail != null" >
        shopinfodetail = #{record.shopinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="record.shopservicedegree != null" >
        shopservicedegree = #{record.shopservicedegree,jdbcType=VARCHAR},
      </if>
      <if test="record.shoplogisticsdegree != null" >
        shoplogisticsdegree = #{record.shoplogisticsdegree,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onlinemall_shop
    set id = #{record.id,jdbcType=VARCHAR},
      shopid = #{record.shopid,jdbcType=VARCHAR},
      shopname = #{record.shopname,jdbcType=VARCHAR},
      shopinfodetail = #{record.shopinfodetail,jdbcType=VARCHAR},
      shopservicedegree = #{record.shopservicedegree,jdbcType=VARCHAR},
      shoplogisticsdegree = #{record.shoplogisticsdegree,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinemall.dao.model.OnlinemallShop" >
    update onlinemall_shop
    <set >
      <if test="shopid != null" >
        shopid = #{shopid,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null" >
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopinfodetail != null" >
        shopinfodetail = #{shopinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="shopservicedegree != null" >
        shopservicedegree = #{shopservicedegree,jdbcType=VARCHAR},
      </if>
      <if test="shoplogisticsdegree != null" >
        shoplogisticsdegree = #{shoplogisticsdegree,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinemall.dao.model.OnlinemallShop" >
    update onlinemall_shop
    set shopid = #{shopid,jdbcType=VARCHAR},
      shopname = #{shopname,jdbcType=VARCHAR},
      shopinfodetail = #{shopinfodetail,jdbcType=VARCHAR},
      shopservicedegree = #{shopservicedegree,jdbcType=VARCHAR},
      shoplogisticsdegree = #{shoplogisticsdegree,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>