<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlinemall.dao.mapper.OnlinemallUserPointMapper" >
  <resultMap id="BaseResultMap" type="com.onlinemall.dao.model.OnlinemallUserPoint" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="pointinfodetail" property="pointinfodetail" jdbcType="VARCHAR" />
    <result column="pointchange" property="pointchange" jdbcType="VARCHAR" />
    <result column="pointtype" property="pointtype" jdbcType="VARCHAR" />
    <result column="pointtime" property="pointtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, pointinfodetail, pointchange, pointtype, pointtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.onlinemall.dao.model.OnlinemallUserPointExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onlinemall_user_point
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from onlinemall_user_point
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from onlinemall_user_point
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserPointExample" >
    delete from onlinemall_user_point
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlinemall.dao.model.OnlinemallUserPoint" >
    insert into onlinemall_user_point (id, userid, pointinfodetail, 
      pointchange, pointtype, pointtime
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{pointinfodetail,jdbcType=VARCHAR}, 
      #{pointchange,jdbcType=VARCHAR}, #{pointtype,jdbcType=VARCHAR}, #{pointtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.onlinemall.dao.model.OnlinemallUserPoint" >
    insert into onlinemall_user_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="pointinfodetail != null" >
        pointinfodetail,
      </if>
      <if test="pointchange != null" >
        pointchange,
      </if>
      <if test="pointtype != null" >
        pointtype,
      </if>
      <if test="pointtime != null" >
        pointtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="pointinfodetail != null" >
        #{pointinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="pointchange != null" >
        #{pointchange,jdbcType=VARCHAR},
      </if>
      <if test="pointtype != null" >
        #{pointtype,jdbcType=VARCHAR},
      </if>
      <if test="pointtime != null" >
        #{pointtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserPointExample" resultType="java.lang.Integer" >
    select count(*) from onlinemall_user_point
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onlinemall_user_point
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.pointinfodetail != null" >
        pointinfodetail = #{record.pointinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="record.pointchange != null" >
        pointchange = #{record.pointchange,jdbcType=VARCHAR},
      </if>
      <if test="record.pointtype != null" >
        pointtype = #{record.pointtype,jdbcType=VARCHAR},
      </if>
      <if test="record.pointtime != null" >
        pointtime = #{record.pointtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onlinemall_user_point
    set id = #{record.id,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      pointinfodetail = #{record.pointinfodetail,jdbcType=VARCHAR},
      pointchange = #{record.pointchange,jdbcType=VARCHAR},
      pointtype = #{record.pointtype,jdbcType=VARCHAR},
      pointtime = #{record.pointtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinemall.dao.model.OnlinemallUserPoint" >
    update onlinemall_user_point
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="pointinfodetail != null" >
        pointinfodetail = #{pointinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="pointchange != null" >
        pointchange = #{pointchange,jdbcType=VARCHAR},
      </if>
      <if test="pointtype != null" >
        pointtype = #{pointtype,jdbcType=VARCHAR},
      </if>
      <if test="pointtime != null" >
        pointtime = #{pointtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinemall.dao.model.OnlinemallUserPoint" >
    update onlinemall_user_point
    set userid = #{userid,jdbcType=VARCHAR},
      pointinfodetail = #{pointinfodetail,jdbcType=VARCHAR},
      pointchange = #{pointchange,jdbcType=VARCHAR},
      pointtype = #{pointtype,jdbcType=VARCHAR},
      pointtime = #{pointtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>