<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlinemall.dao.mapper.OnlinemallUserDiscountMapper" >
  <resultMap id="BaseResultMap" type="com.onlinemall.dao.model.OnlinemallUserDiscount" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="discountid" property="discountid" jdbcType="VARCHAR" />
    <result column="discountinfodetail" property="discountinfodetail" jdbcType="VARCHAR" />
    <result column="discounttype" property="discounttype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, discountid, discountinfodetail, discounttype
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from onlinemall_user_discount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from onlinemall_user_discount
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from onlinemall_user_discount
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscountExample" >
    delete from onlinemall_user_discount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscount" >
    insert into onlinemall_user_discount (id, userid, discountid, 
      discountinfodetail, discounttype)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{discountid,jdbcType=VARCHAR}, 
      #{discountinfodetail,jdbcType=VARCHAR}, #{discounttype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscount" >
    insert into onlinemall_user_discount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="discountid != null" >
        discountid,
      </if>
      <if test="discountinfodetail != null" >
        discountinfodetail,
      </if>
      <if test="discounttype != null" >
        discounttype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="discountid != null" >
        #{discountid,jdbcType=VARCHAR},
      </if>
      <if test="discountinfodetail != null" >
        #{discountinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="discounttype != null" >
        #{discounttype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscountExample" resultType="java.lang.Integer" >
    select count(*) from onlinemall_user_discount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update onlinemall_user_discount
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.discountid != null" >
        discountid = #{record.discountid,jdbcType=VARCHAR},
      </if>
      <if test="record.discountinfodetail != null" >
        discountinfodetail = #{record.discountinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="record.discounttype != null" >
        discounttype = #{record.discounttype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update onlinemall_user_discount
    set id = #{record.id,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      discountid = #{record.discountid,jdbcType=VARCHAR},
      discountinfodetail = #{record.discountinfodetail,jdbcType=VARCHAR},
      discounttype = #{record.discounttype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscount" >
    update onlinemall_user_discount
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="discountid != null" >
        discountid = #{discountid,jdbcType=VARCHAR},
      </if>
      <if test="discountinfodetail != null" >
        discountinfodetail = #{discountinfodetail,jdbcType=VARCHAR},
      </if>
      <if test="discounttype != null" >
        discounttype = #{discounttype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinemall.dao.model.OnlinemallUserDiscount" >
    update onlinemall_user_discount
    set userid = #{userid,jdbcType=VARCHAR},
      discountid = #{discountid,jdbcType=VARCHAR},
      discountinfodetail = #{discountinfodetail,jdbcType=VARCHAR},
      discounttype = #{discounttype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>