<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:mysql-db.properties</value>
            </list>
        </property>
    </bean>
    <bean id="mysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${mysql.driver}"></property>
        <property name="url" value="${mysql.live.url}"></property>
        <property name="username" value="${mysql.username}"></property>
        <property name="password" value="${mysql.password}"></property>
        <!-- 初始化连接 -->
        <property name="initialSize" value="${mysql.initialSize}"/>
        <!-- 最大空闲连接 -->
        <property name="maxIdle" value="${mysql.maxIdle}"/>
        <!-- 最小空闲连接 -->
        <property name="minIdle" value="${mysql.minIdle}"/>
        <!-- 最大连接数量 -->
        <property name="maxActive" value="${mysql.maxActive}"/>
    </bean>
    <bean id="onlineMallJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="mysqlDataSource" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mysqlDataSource"></property>
    </bean>

    <!--&lt;!&ndash;Mybaaties的配置&ndash;&gt;-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="mysqlDataSource"></property>
        <property name="typeAliasesPackage" value="com.onlinemall.dao.model"></property>
        <property name="mapperLocations" value="classpath*:mybaties/*Mapper.xml"></property>
    </bean>

    <!--自动扫描接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.onlinemall.dao.mapper"></property>
    </bean>

    <!-- 哪些类哪些方法使用事务 -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceOperation2"
                      expression="execution(* com.onlinemall.springservice.*.*(..))"/>
        <aop:advisor pointcut-ref="serviceOperation2" advice-ref="txAdvice"/>
    </aop:config>

    <!--&lt;!&ndash; 事务的传播特性 &ndash;&gt;-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
            <tx:method name="truckAudit*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
            <tx:method name="priSyn*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
            <tx:method name="*Audit*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
            <tx:method name="update*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
            <tx:method name="delete*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
            <tx:method name="verify*" propagation="REQUIRED"
                       rollback-for="Throwable" timeout="600"/>
        </tx:attributes>
    </tx:advice>
</beans>